#Sneaker {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr, td {
    border: 2px dashed #1f5ad7;
    border-radius: 5px;
}
h1 {
    font-family: Arial, sans-serif;
    font-size: 56px;
    color:aquamarine;
}
p {
    padding: 25px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color:aquamarine;
}